*{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}
root{
    padding:0;
    margin:0;
    background-color: aqua;
}
main{
    display: flex;
}
    .card{
    border: 1px red solid;
    width: 250px;
    max-width: 250px;
    height: 400px;
    padding:20px;
    }
    .sedans{
        background-color: var(--Bright-orange);
        color:var(--Transparent-white);
    }
    .suvs{
        background-color: var(--Dark-cyan);
        color:var(--Transparent-white);
    }
    .luxury{
        background-color: var(--Very-dark-cyan);
        color:var(--Transparent-white);
    }
        .description{
            color:var(--Transparent-white);
        }
        .LearnMore{
            text-decoration: none;
            background-color: var(--Very-light-gray);
            color: var(--Bright-orange);
            border:1px greenyellow solid;
            padding:7px 20px;
            border-radius: 30px;
        }
